{% extends 'base.html' %}
{% load static %}
{% block homepage %}active{% endblock homepage %}
{% block content %}
<br><br><br>
<link rel ="stylesheet" href="{% static 'css/form.css' %}">
<div class="appoint-full-page">
<img src="{% static 'img/pixeltrue-contact.png' %}" alt="" class="contact-form">
<div class="appoint">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
 
</div>
</div>
{% endblock content %}